{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"remove","lines":["1"],"id":2},{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["1"]},{"start":{"row":4,"column":11},"end":{"row":4,"column":12},"action":"remove","lines":["."]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":11},"end":{"row":4,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":110,"mode":"ace/mode/text"}},"timestamp":1561025433937,"hash":"2c9bd5f56b4bd9c059f277fd343925b67fd22e2f"}