/* Logo*/
.logo-image {
    width: 50px;
    height: 50px;
}

.list-inline-item:not(:last-child) {
    margin: 0 !important;
}


/*Feedback*/

.views {
    display: inline-block;
    margin-left: 10px;
}

.upvotes {
    font-size: 15px!important;
}
/*Statistics*/
.chart-image {
    width: 100%;
}

.show {
    padding: 0!important;
}

/*Dropdown links on home page for categories*/

.category-link {
    font-family: sans-serif!important;
    background-color: #17a2b8!important;
}

.category-link:hover {
    background-color: #80d9ff!important;
}

.category-link a {
    color: #222222!important;
}

/*Add recipe and edit recipe */

.recipe-submit-button {
    color: #222!important;
    background-color: #b3e8ff!important;
}



.recipe-submit-button:hover {
    background-color: #00b2ff!important;
}

/*likes and views position*/

.user-feedback {
    position: relative;
    margin-left: 15px;
    margin-top: -30px;
    top: 30px;
}
/*Pagination*/
.pagination-page-info {
    width:100%; 
}
.receipe-picture {
    max-height: 450px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

