{% extends 'home.html'%} {% block content %}
<div class="container">
  <form action="{{url_for('insert_recipe')}}" method="POST">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Name</label>
          <input type="text" class="form-control" id="dish_name" name="dish_author" placeholder="Type Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Author</label>
          <input type="text" class="form-control" id="dish_author" name="dish_author" placeholder="Type Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Category</label>
          <select class="form-control" id="categories" name="category_name">
      <option value="" selected disabled>Select</option>
       {% for course in categories %}
                      <option value="{{course.category_name}}">{{course.category_name}}</option>
                  {% endfor %}
    </select>
        </div>
        <div class="form-group">
          <label for="dish_required_skill">Difficulty Level</label>
          <select class="form-control" id="dish_required_skill" name="dish_required_skill">
      <option selected disabled>Select</option>
      {% for required in skills %}
                      <option value="{{required.skill_name}}">{{required.skill_name}}</option>
                  {% endfor %}
    </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Preparation Time</label>
          <textarea class="form-control" name="dish_prep_time" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Cuisine</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

      </div>
      <div class="col-md-6">
        <label for="exampleFormControlTextarea1">Add Photo</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Ingredients</label>
          <textarea class="form-control" name="dish_ingredients" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Recommended Steps</label>
          <textarea class="form-control" name="dish_preparation_steps" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Recipe</button>
      </div>
     </div>
  </form>
 
</div>

{% endblock %}
