{% extends 'home.html'%} {% block content %}
<div class="container">
  <form action="{{url_for('insert_recipe')}}" method="POST">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text"  class="form-control" id="dish_name" name="dish_name" placeholder="Type Name" required>
        </div>
        <div class="form-group">
          <label for="Author">Author</label>
          <input type="text" class="form-control" id="dish_author" name="dish_author" placeholder="Type Name" required>
        </div>
        <div class="form-group">
          <label for="Category">Category</label>
          <select class="form-control" id="categories" name="category_name" required>
            <option value="" selected disabled>Select</option>
            {% for course in categories %}
              <option  value="{{course.category_name}}">{{course.category_name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="Difficulty Level">Difficulty Level</label>
          <select class="form-control" id="dish_required_skill" name="dish_required_skill" required>
      <option value="" selected disabled>Select</option>
      {% for required in skills %}
                      <option  value="{{required.skill_name}}">{{required.skill_name}}</option>
                  {% endfor %}
  </select>
        </div>
        <div class="form-group">
          <label for="Preparation time">Preparation Time</label>
          <textarea class="form-control" name="dish_prep_time" id="dish_prep_time" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <label for="Cuisine">Cuisine</label>
          <textarea name="dish_origin_cuisine" class="form-control" id="dish_origin_cuisine" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Ingredients">Ingredients</label>
          <textarea class="form-control" name="dish_ingredients" id="dish_ingredients" rows="7"></textarea>
        </div>
        <div class="form-group">
          <label for="Recommended Steps">Recommended Steps</label>
          <textarea class="form-control" name="dish_preparation_steps" id="dish_preparation_steps" rows="7"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Recipe</button>
      </div>
    </div>
  </form>
</div>


{% endblock %}
