{% extends 'home.html'%} {% block content %}
<div class="container">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <div class="row">
      <div class="col-md-6 list-inline">
        <div class="form-group">
          {{ form.dish_name.label(class="form-control-label") }} {% if form.dish_name.errors %} {{ form.dish_name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_name.errors %}
            <span>{{ error }}</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_name(class="form-control ") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dish_author.label(class="form-control-label") }} {% if form.dish_author.errors %} {{ form.dish_author(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_author.errors %}
            <span>{{ error }}</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_author(class="form-control") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dish_prep_time.label(class="form-control-label") }} {% if form.dish_prep_time.errors %} {{ form.dish_prep_time(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_prep_time.errors %}
            <span>{{ error }} Please enter Estimated preparation time in minutes (eg.15)</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_prep_time(class="form-control form-control-lg") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dish_origin_cuisine.label(class="form-control-label") }} {% if form.dish_origin_cuisine.errors %} {{ form.dish_origin_cuisine(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_origin_cuisine.errors %}
            <span>{{ error }}</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_origin_cuisine(class="form-control form-control-lg") }} {% endif %}
        </div>
      </div>
      <div class="col-md-6 list-inline">
        <div class="form-group">
          {{ form.dish_ingredients.label(class="form-control-label") }} {% if form.dish_ingredients.errors %} {{ form.dish_ingredients(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_ingredients.errors %}
            <span>{{ error }}</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_ingredients(class="form-control form-control-lg") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dish_preparation_steps.label(class="form-control-label") }} {% if form.dish_preparation_steps.errors %} {{ form.dish_preparation_steps(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.dish_preparation_steps.errors %}
            <span>{{ error }}</span> {% endfor %}
          </div>
          {% else %} {{ form.dish_preparation_steps(class="form-control form-control-lg") }} {% endif %}
        </div>
        <div class="form-group">
          {{ form.category_name.label(class="form-control-label") }}
          <div class="input-group">
            <select name="dish_category_name" id="dish_category_name" class="selectpicker form-control">
              <option value="{{ recipe.category_name }}" selected > {{ recipe.category_name }} </option>
              {% for course in categories %}
              <option value="{{course.category_name}}"> {{ course.category_name }} </option>
              {% endfor %}                                              
            </select>
          </div>
        </div>
        <div class="form-group">
          {{ form.dish_required_skill.label(class="form-control-label") }}
          <div class="input-group">
            <select name="dish_required_skill" id="dish_required_skill" class="selectpicker form-control">
              <option value="{{ recipe.dish_required_skill }}" selected > {{ recipe.dish_required_skill }} </option>
              {% for required in skills %}
              <option value="{{required.skill_name}}"> {{ required.skill_name }} </option>
              {% endfor %}                                              
            </select>
          </div>
        </div>
        <div class="d-none">
          {{form.dish_photo}}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info mt-2 recipe-submit-button") }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
