<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--CSS-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% if title %}
        <title>Cook book - {{ title }}</title>
    {% else %}
        <title>Cook Book</title>
    {% endif %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{{url_for('recipes')}}"><img class="logo-image" alt="chef logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTUhnKjobAOjmlVUzxfUoGj2VBu2mOXKPmnmZjkuTfKeNhWaxOfg"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('recipes')}}"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-book-reader"></i> Categories
        </a>
        <!--Dropdown Menu For Categories-->
          <div class="dropdown-menu">
            <ul class="list-group">
              <li class="list-group-item category-link"><a href="{{url_for('aperitif')}}">Aperitifs</a></li>
              <li class="list-group-item category-link"><a href="{{url_for('starter')}}">Starters</a></li>
              <li class="list-group-item category-link"><a href="{{url_for('intermediate')}}">Intermediate</a></li>
              <li class="list-group-item category-link"><a href="{{url_for('main')}}">Mains</a></li>
              <li class="list-group-item category-link"><a href="{{url_for('dessert')}}">Desserts</a></li>
            </ul>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('top_ten')}}"> <i class="fas fa-medal"></i> Top 10 Receipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('addrecipe')}}"><i class="fas fa-plus"></i> Add Receipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('show_chart')}}"><i class="fas fa-chart-pie"></i> Statistics</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-8 offset-md-2 text-center">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
  {% block content %}{% endblock %}
</body>
<!--Font Awesome-->
<script src="https://kit.fontawesome.com/9e425c7d13.js"></script>
<!--Bootstrap js-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
