{% extends 'home.html'%} {% block content %}
<div class="container">
  <div class="col-12">
    <div class="card mt-1 mb-3">
      <img class="card-img-top receipe-picture" src="static/receipe-pictures/{{ recipe.dish_photo | default('aperol-spritz.jpg') }}" alt="{{recipe.dish_name}}">
      <div class="row">
        <div class="card-body col-12 col-sm-4">
          <span><strong>Cooking Steps:</strong></span>
          <div>{{recipe.dish_preparation_steps}}</div>
        </div>
        <div class="card-body col-12 col-sm-4">
          <span><strong>Ingredients:</strong></span>
          <div>{{recipe.dish_ingredients}}</div>
        </div>
        <div class="card-body col-12 col-sm-4">
          <span>Details:</span>
          <div class="likes-views">
            <form class="btn p-0 mt-2 mb-2" action="{{ url_for('upvote', recipe_id=recipe._id)}}" method="POST">
              <button class="btn-sm btn-success upvotes" type="submit"><i class="fas fa-thumbs-up">{{recipe.dish_upvotes}}</i></button>
            </form>
            <div class="views"><i class="fas fa-lg fa-eye">{{recipe.dish_views}}</i></div>
          </div>
          <div>
            <h5 class="card-title"><i class="fas fa-tag"></i> {{recipe.dish_name}}</h5>
          </div>
          <div class="mb-2"><i class="fas fa-user-edit"></i> <strong>{{recipe.dish_author}}</strong></div>
          <div class="mb-2"><i class="fas fa-utensils"></i> {{recipe.category_name}}</div>
          <div class="mb-2"><i class="fas fa-user-cog"></i> {{recipe.dish_required_skill}}</div>
          <div class="mb-2"><i class="fas fa-stopwatch"></i> {{recipe.dish_prep_time}} Minutes</div>
          <a href={{url_for( 'edit_recipe', recipe_id=recipe._id)}}><button type="button" class="btn btn-sm btn-success">Edit</button></a>
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmation_modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="confirmation_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">Are You sure you want to delete {{recipe.dish_name}}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Close</button>
          <a href={{url_for( 'delete_recipe', recipe_id=recipe._id)}}><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
        </div>
      </div>
      <!--Modal Ends-->
      {% endblock %}
