{% extends 'home.html'%} {% block content %}
<div class="container">
    <!--{% for recipe in recipes %}-->
<div class="col-12 col-sm-5 col-md-3 list-inline-item">
  <div class="card mt-1 mb-3">
    <img class="card-img-top receipe-picture" src="{{url_for('static', filename='receipe-pictures/aperol-spritz.jpg')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{recipe.dish_name}}</h5>
      <p class="card-text">{{recipe.dish_author}}</p>
      <p class="card-text"><small class="text-muted">{{recipe.dish_required_skill}}</small></p>
      <p class="card-text">{{recipe.dish_prep_time}}</p>
      <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">See Recipe</a>
    </div>
  </div>
</div>
 <!--{% endfor %}-->
</div>

{% endblock %}